.create-section{
    max-width: 800px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.wrap-create{
    flex-direction: column;
}
.img-section{
    height: 300px;
    width:300px;
    background:url('../images/otp2.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
.create-title{
    font-size: 1.5em;
    font-weight: 500;
    

}
.create-text{
    font-size: .9em;
    font-weight: 500;

}
.display-section,
.form-section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.finalize{
   font-weight: 600;
   letter-spacing: 1px;
  
}

@media (max-width:830px) {
    .create-section{
       flex-direction:column-reverse;
        
    }
    .img-section{
        margin-top: 2em;
        height: 150px;
        width:150px;
    }
}