.account-credential-main {
  display: flex;
  justify-content: center;
}
.account-info-main {
  display: flex;
  justify-content: center;
  padding: 2em;
}
.account-info-main form {
  max-width: 300px;
  overflow: hidden;
}
.account-info-img {
  text-align: center;
  display: flex;
  justify-content: center;
}
.account-info-img img {
  height: 150px;
  cursor: pointer;
}
