.staff-account-container {
  display: flex;
  box-shadow: var(--shadowColor);
  border-radius: 20px;
  padding: 2em;
  align-items: center;
}
.qr-box-container {
  max-width: 300px;
  padding: 1em;
}
.staff-account-container-left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  box-shadow: var(--shadowColorLight);
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.8em;
  text-align: center;
  overflow: hidden;
}
.staff-account-profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: var(--shadowColor);
}
.staff-account-profile-name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4em;
  overflow: hidden;
  padding: 0.2em 0;
}
.staff-account-profile-status {
  text-transform: uppercase;
  margin-top: 0.5em;
  font-weight: 600;
  font-size: 1.2rem;
}
.staff-account-container-left,
.staff-account-container-right {
  padding: 1em;
}
.staff-account-container-left {
  width: 35%;
}
.staff-account-container-right {
  width: 65%;
  overflow: hidden;
}
.staff-account-container-right-content {
  padding: 1em 2em;
}
@media (max-width: 920px) {
  .staff-account-container {
    flex-direction: column;
  }
  .staff-account-container-left,
  .staff-account-container-right {
    width: 100%;
  }
}
@media (max-width: 560px) {
  .staff-account-container-left-content,
  .staff-account-container-right-content {
    box-shadow: none;
  }
}
@media (max-width: 510px) {
  .staff-account-container-left-content,
  .staff-account-container-right-content {
    padding: 0 !important;
  }
}
