.sudo-dashboard-title{
    font-size: 1.2em;
    font-weight: bold;

}
.sudo-dashboard-summary{
    display: flex;
    flex-wrap: wrap;
  }
.dashboard-box{
    height: 150px;
    width: 270px;
    border-radius: 10px;
    box-shadow: var(--shadowColor);
    border-left: 5px solid var(--blue);
    display: flex;
    margin: 1em;
    background: white;
   
}
.dashboard-box-left,
.dashboard-box-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dashboard-box-left{
    font-size: 2em;
    
}
.box-title{
    font-size: 1.2em;
    font-weight: bold;
}
.box-number{
    font-size: 3em;
}
.dashboard-table-container{
    min-width: 600px;
}
.dashboard-table{
    height: 500px;
    background: white;
    border-radius: 20px;
    box-shadow: var(--shadowColor);
    overflow: auto;
}
.dashboard-table-title{
    font-weight: bold;
}
tbody > tr th,
tbody > tr td{
    font-weight: 500;
}

@media (max-width:1080px) {

   .sudo-dashboard-summary{
     justify-content: space-between;
   }
}
@media (max-width:650px) {

  .dashboard-box{
    width: 100%;
  }
}