.account-title-text{
    font-size: 1.2em;
    font-weight: bold;
}

.account-credential-main{
    margin-top: 1em;
    padding: 3em;
}
.form-credentials{
  
    display: flex;
    align-items:center;
}
.form-credential-switch{
  font-size: 1.2em;
  font-weight: bold;
}