
.form-image-container{
   height: 200px;
   display: flex;
   justify-content: center;
}
.form-default-title{
    text-align: center;
    padding-bottom: 2em;
    font-weight: bold;
}
.form-image{
   height: 100%;
}
.form-group-section{
    padding:0 2em;
}
.saving-options{
    font-weight: 500;
}
.pointer{
    cursor: pointer;
}
.pointer:hover{
  color: var(--blue);
}